*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.wrapper {
  padding: 3rem;
  display: flex;
  flex: 1;
  height: 100vh; }

.header {
  display: flex; }

.nav__title {
  flex: 1;
  height: 7rem;
  border-bottom: solid .2px;
  padding: 2rem;
  margin: .5rem 1rem; }

.nav__space-box {
  height: 5rem; }

.nav__links-box {
  display: flex;
  flex: 1; }

.nav__links-ul {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem; }

.nav__links-li {
  list-style: none;
  height: 5rem;
  border-top: solid .2px;
  display: flex;
  flex-direction: column; }

.nav__links {
  text-decoration: none;
  margin: auto 0;
  font-size: 2rem;
  color: #000; }
  .nav__links:hover {
    cursor: pointer;
    color: #8B8581; }

.content {
  display: flex;
  flex: 1;
  flex-direction: column; }
  .content__title {
    text-align: center;
    margin: .5rem 1rem;
    display: flex;
    justify-content: center;
    height: 7rem;
    align-items: center;
    border-bottom: solid .2px;
    font-size: 3rem;
    font-weight: 300; }
  .content__choices {
    display: flex;
    flex: 1;
    margin: 1rem 1rem;
    background-image: url("https://res.cloudinary.com/dawjvqyvd/image/upload/c_scale,w_1650/v1531541657/fancycrave-224904-unsplash.jpg");
    background-size: cover;
    height: 80vh; }
  .content__btnContainer {
    display: flex;
    align-items: flex-end; }
  .content__btn {
    padding: 1rem 1.5rem;
    background-color: white;
    color: #000;
    margin: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; }
    .content__btn:hover {
      cursor: pointer;
      background-color: silver; }

.footer {
  flex: 0 1 5.5rem;
  background-color: darkmagenta; }

.exhibitions {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: scroll;
  border: solid 1px black; }
  .exhibitions__title {
    text-align: center;
    margin: .5rem 1rem;
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    height: 7rem;
    align-items: center;
    border-bottom: solid .2px;
    font-size: 3rem;
    font-weight: 300; }
    .exhibitions__title--floorTitle {
      flex: 1 0 auto; }
  .exhibitions__content-box {
    display: flex;
    flex-direction: column; }
  .exhibitions__individual-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 1rem;
    background-image: url("https://res.cloudinary.com/dawjvqyvd/image/upload/c_scale,w_1650/v1531590817/cristina-gottardi-665244-unsplash.jpg");
    background-size: cover;
    height: 80vh; }
  .exhibitions__btn-container {
    display: flex;
    padding: 2rem; }
  .exhibitions__btn {
    padding: 1rem 1.5rem;
    background-color: white;
    color: #000;
    margin: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; }
    .exhibitions__btn:hover {
      cursor: pointer;
      background-color: silver; }
  .exhibitions__floor-container {
    display: flex;
    flex-direction: column;
    height: 100vh; }
  .exhibitions__coverImgContainer {
    display: flex;
    margin: 1rem auto;
    flex: 1 0 60%; }
  .exhibitions__inputBox {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid green 1px; }
  .exhibitions__galleryArrayImageHolder {
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; }
  .exhibitions__coverImg {
    max-width: 100%;
    object-fit: contain; }
  .exhibitions__imageTitleArea {
    display: flex; }
  .exhibitions__imageCardArea {
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue; }
  .exhibitions__imageCard {
    width: 25rem;
    margin: 1rem;
    border: solid black 1px; }
    .exhibitions__imageCard-btnArea {
      display: flex;
      justify-content: space-around;
      border: solid white 1px;
      margin: 0 2rem; }
  .exhibitions__imgs {
    width: 100%;
    padding: 2rem; }

.heading__3 {
  font-size: 10rem;
  color: #fff;
  letter-spacing: 1.1rem;
  padding: 1rem; }

.programCard {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  margin: 1rem 0;
  padding: 1rem;
  background-color: white;
  border-radius: 1.8rem; }
  .programCard__Title {
    background-color: red;
    align-items: center; }
  .programCard__Img {
    padding: 1rem; }
    .programCard__Img--picture {
      width: 100%; }
  .programCard__Price {
    background-color: yellow; }
  .programCard__Description {
    background-color: wheat; }
  .programCard__Time {
    background-color: lightpink; }
  .programCard__MemberInfo {
    background-color: black; }
  .programCard__RegistrationLink {
    background-color: cyan; }
  .programCard__Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .programCard__formGroup {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem; }
