*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: blue; }

.wrapper {
  width: 90rem;
  border: solid green .1rem;
  margin: 4rem auto;
  padding: 3rem;
  display: flex;
  flex-direction: column; }

.header {
  flex: 0 1 6rem;
  background-color: pink; }

.nav {
  padding: 2rem;
  border: solid 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__links-box {
    padding: 1em;
    display: flex; }
  .nav__links-ul {
    display: flex; }
  .nav__links-li {
    margin-left: 1.5rem;
    list-style: none; }
  .nav__links {
    text-decoration: none; }

.content {
  flex: 0 1 auto;
  flex-direction: column;
  background-color: aquamarine;
  padding: 3rem 2rem; }
  .content__title {
    text-align: center;
    margin: .5rem 0; }
  .content__choices {
    display: flex;
    margin: 3rem 1rem;
    justify-content: space-around; }
  .content__btn {
    padding: 1rem;
    border: solid 1px azure;
    background-color: white;
    color: yellowgreen; }
    .content__btn:hover {
      cursor: pointer;
      background-color: silver; }

.footer {
  flex: 0 1 5.5rem;
  background-color: darkmagenta; }

.exhibitions {
  flex: 0 1 auto;
  flex-direction: column;
  background-color: aquamarine;
  padding: 3rem 2rem; }
  .exhibitions__title {
    text-align: center;
    margin: .5rem 0; }
  .exhibitions__content-box {
    display: flex;
    justify-content: space-around;
    border: solid 1px black;
    padding: 1rem; }
  .exhibitions__individual-container {
    display: flex;
    flex-direction: column;
    border: dotted 1px peru; }
  .exhibitions__btn-container {
    display: flex;
    padding: 2rem;
    justify-content: space-between; }
  .exhibitions__btn {
    border: 1px dotted purple;
    background-color: #fff;
    padding: .5rem 1rem; }
    .exhibitions__btn:hover {
      cursor: pointer;
      background-color: purple; }
