.exhibitions {
    display: flex;
    flex: 1;
    flex-direction: column;

    &__title {
        text-align: center;
        margin: .5rem 1rem;
        display: flex;
        justify-content: center;
        height: 7rem;
        align-items: center;
        border-bottom: solid .2px;
        font-size: 3rem;
        font-weight: 300;
    }

    &__content-box {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
    }

    &__individual-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 1rem 1rem;
        background-image: url('https://res.cloudinary.com/dawjvqyvd/image/upload/c_scale,w_1650/v1531590817/cristina-gottardi-665244-unsplash.jpg');
        background-size: cover;
    }

    &__btn-container {
        display: flex;
        padding: 2rem;
        justify-content: space-between;
    }

    &__btn {
        border: 1px dotted purple;
        background-color: #fff;
        padding: .5rem 1rem;
        margin: .8rem;

        &:hover {
            cursor: pointer;
            background-color: purple;
        }
    }

    &__coverImg {
        width: 100%;
        padding: 3rem;
    }

    &__inputBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__galleryArrayImageHolder {
        border: 1px solid purple;
    }

    &__imageTitleArea {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__imageCardArea {
        display: flex;
        flex-wrap: wrap;
    }

    &__imageCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 1 auto;
        width: 25rem;
    }

    &__imgs {
        width: 100%;
        padding: 2rem;
        // margin: 2rem;
    }

   &__imageCardButtonsArea {
       display: flex;
       justify-content: space-around;
       border: solid white 1px;
       margin: 0 2rem;
       width: 22rem;
   }

}