.exhibitions {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: scroll;
    border: solid 1px black;

    &__title {
        text-align: center;
        margin: .5rem 1rem;
        display: flex;
        flex: 0 1 auto;
        justify-content: center;
        height: 7rem;
        align-items: center;
        border-bottom: solid .2px;
        font-size: 3rem;
        font-weight: 300;

        &--floorTitle {
            flex: 1 0 auto;
        }
    }

    &__content-box {
        display: flex;
        flex-direction: column;
    }

    &__individual-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem 1rem;
        background-image: url('https://res.cloudinary.com/dawjvqyvd/image/upload/c_scale,w_1650/v1531590817/cristina-gottardi-665244-unsplash.jpg');
        background-size: cover;
        height: 80vh;
    }

    &__btn-container {
        display: flex;
        padding: 2rem;
    }

    &__btn {
        padding: 1rem 1.5rem;
        background-color: white;
        color: #000;
        margin: 3rem;
        text-decoration: none;
        text-transform: uppercase;
        height: 5rem;
        width: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        &:hover {
            cursor: pointer;
            background-color: silver;
        }
    }





    &__floor-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    &__coverImgContainer {
        display: flex;
        margin: 1rem auto;
        flex: 1 0 60%;
    }

    &__inputBox {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid green 1px;
    }

    &__galleryArrayImageHolder {
        border: 1px solid purple;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }



    &__coverImg {
        max-width: 100%;
        object-fit: contain;
    }

    &__imageTitleArea {
        display: flex;
    }

    &__imageCardArea {
        display: flex;
        flex-wrap: wrap;
        background-color: lightblue;
    }

    &__imageCard {
        width: 25rem;
        margin: 1rem;
        border: solid black 1px; 

        &-btnArea {
            display: flex;
            justify-content: space-around;
            border: solid white 1px;
            margin: 0 2rem;
        }
    }

    &__imgs {
        width: 100%;
        padding: 2rem;
    }

}