.exhibitions {
    flex: 0 1 auto;
    flex-direction: column;
    background-color: aquamarine;
    padding: 3rem 2rem;
    &__title {
        text-align: center;
        margin: .5rem 0;
    }

    &__content-box {
        display: flex;
        justify-content: space-around;
        border: solid 1px black;
        padding: 1rem;
    }

    &__individual-container {
        display: flex;
        flex-direction: column;
        border: dotted 1px peru;
    }

    &__btn-container {
        display: flex;
        padding: 2rem;
        justify-content: space-between;
    }

    &__btn {
        border: 1px dotted purple;
        background-color: #fff;
        padding: .5rem 1rem;

        &:hover {
            cursor: pointer;
            background-color: purple;
        }
    }

    &__coverImg {
        width: 100%;
        padding: 3rem;
    }

    &__inputBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__galleryArrayImageHolder {
        border: 1px solid purple;
        height: 30rem;
    }

    &__imgsHolder {
        // display: flex;
        // flex-direction: column;
    }

    &__imgs {
        width: 25%;
        margin: 2rem;
    }

    &__imgButtonHolder {
        background-color: green;
    }
}