.programCard {
    display: flex;
    flex-direction: column;
    width: 50rem;
    border: black solid 1px;
    margin: 1rem 0;

    &__Title {
        background-color: red;
    }

    &__Img {
        &--picture {
            width: 100%;
        }

        padding: 1rem;
    }

    &__Price {
        background-color: yellow;
    }

    &__Description {
        background-color: wheat;
    }

    &__Time {
        background-color: lightpink;
    }

    &__MemberInfo {
        background-color: black;
    }

    &__RegistrationLink {
        background-color: cyan;
    }

}